:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 1em;
  leading-trim: NONE;
  line-height: 66px;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

a {
  text-decoration: inherit;
}

a:hover {
  color: rgba(250, 250, 250, 1);
  text-decoration: underline;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #ffffff;
}

label {
  font-size: 1em;
}

.gm-ui-hover-effect:focus {
  outline: 0;
}

.gm-ui-hover-effect > span {
  background-color: rgba(0, 0, 0);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 1em;
  }
}
